<html>
    <head>
        <title>Timestamp Microservice | <%= timestamp %> </title>
        <link rel="stylesheet" type="text/css" href='app.css' />
    </head>
    
    <body>
        <div id='timestamp'> <%= timestamp %></div>
        <div class='container'>
            

            
        </div>
    </body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js'></script>
    
    <script src='/script.js'></script>
</html>